:root {
    /* CSS HEX */
    --dark-purple: #100367; 
    --darkish-purple: #6b5ae9;
    --light-purple: #ebaaff;
    --light-blue: #7ecbff;
    --lavender: #b79de6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {

    /*  other css stuff  */
    height: 300px;
    width: 100vw;

    padding: 20px;
    

    font-family: Roboto Condensed;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    display: flex;
    gap: 4vw;


}




.card {

    /*colours lelelelellelelelelele*/
    background-color: rgb(220, 236, 253);


    border: 1.5px solid rgb(73, 124, 168);
    border-radius: 20px;


    list-style-type: none;
    padding: 20px;
    flex: 0 0 100%;
    scroll-snap-align: center;


}

.card:nth-child(even) {
    background-color: rgb(146, 175, 201);
}



h1 {

    font-family: Roboto Condensed;
}


#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    background-color: rgb(197, 216, 238);
    border-bottom: 1px solid black;

    font-family: Gravitas One;
}

#headerBar {
    position: sticky;
    top: 0;

    border-bottom: 1px solid var(--sunlit-clay);
    height: 100px;
    background-color: var(--mauve);
}


